.border1 {
  border: 1px solid rgba(255, 250, 250, 0.315); /* Red border */
}
.border2 {
  border: 1px dashed #00FF00; /* Green border */
}
.border3 {
  border: 1px dotted #0000FF; /* Blue border */
}
.border4 {
  border: 3px double #FF00FF; /* Magenta border */
}
.border5 {
  border: 2px groove #FFFF00; /* Yellow border */
}
.border6 {
  border: 2px ridge #00FFFF; /* Cyan border */
}
.border7 {
  border: 2px inset #FFA500; /* Orange border */
}
.border8 {
  border: 2px outset #800080; /* Purple border */
}
.border9 {
  border: 2px solid #FFC0CB; /* Pink border */
}
.border10 {
  border: 2px solid #008000; /* Dark Green border */
}
