.fs_12{
    font-size: 12px!important;
}
.fs_15{
    font-size: 15px!important;
}
.fs_18{
    font-size: 18px!important;
}
.fs_21{
    font-size: 21px!important;
}
.fs_24{
    font-size: 24px!important;
}
.fs_27{
    font-size: 27px!important;
}
.fs_30{
    font-size: 30px!important;
}
.fs_33{
    font-size: 33px!important;
}
.fs_36{
    font-size: 36px!important;
}
.fs_39{
    font-size: 39px!important;
}
.fs_42{
    font-size: 42px!important;
}
.fs_45{
    font-size: 45px!important;
}
.fs_48{
    font-size: 48px!important;
}
.fs_51{
    font-size: 51px!important;
}