.fs_color1 {
  color: rgb(237, 253, 255) !important;
}

.fs_color2 {
  color: rgb(255, 255, 255) !important;
}

.fs_color2:hover {
  color: rgb(75, 145, 100) !important;
}

.fs_color3 {
  color: rgb(250, 140, 24) !important;
}

.fs_color3:hover {
  color: rgb(224, 106, 0) !important;
}

.fs_color4 {
  color: rgb(219, 112, 147) !important;
}

.fs_color4:hover {
  color: rgb(188, 70, 115) !important;
}

.fs_color5 {
  color: rgb(186, 104, 200) !important;
}

.fs_color5:hover {
  color: rgb(157, 63, 163) !important;
}

.fs_color6 {
  color: rgb(60, 193, 200) !important;
}

.fs_color6:hover {
  color: rgb(30, 158, 164) !important;
}

.fs_color7 {
  color: rgb(233, 127, 2) !important;
}

.fs_color7:hover {
  color: rgb(197, 87, 0) !important;
}

.fs_color8 {
  color: rgb(241, 147, 49) !important;
}

.fs_color8:hover {
  color: rgb(203, 110, 20) !important;
}

.fs_color9 {
  color: rgb(135, 195, 108) !important;
}

.fs_color9:hover {
  color: rgb(95, 155, 68) !important;
}

.fs_color10 {
  color: rgb(82, 139, 188) !important;
}

.fs_color10:hover {
  color: rgb(45, 97, 145) !important;
}
