.w_10{
    height: 9%!important;
}
.w_20{
    height: 19%!important;
}
.w_25{
    height: 24%!important;
}
.w_30{
    height: 29%!important;
}
.w_35{
    height: 34%!important;
}
.w_40{
    height: 39%!important;
}
.w_50{
    height: 49%!important;
}
.w_60{
    height: 59%!important;
}
.w_70{
    height: 69%!important;
}
.w_80{
    height: 79%!important;
}
.w_90{
    height: 89%!important;
}
.w_100{
    height: 99%!important;
}

.w_37{
    height: 36%!important;
}
.w_33{
    height: 32%!important;

}

