.ls1{letter-spacing: 1px!important;}
.ls2{letter-spacing: 2px!important;}
.ls3{letter-spacing: 3px!important;}
.ls4{letter-spacing: 4px!important;}
.ls5{letter-spacing: 5px!important;}
.ls6{letter-spacing: 6px!important;}
.ls7{letter-spacing: 7px!important;}
.ls8{letter-spacing: 8px!important;}
.ls9{letter-spacing: 9px!important;}
.ls10{letter-spacing: 10px!important;}
.ls11{letter-spacing: 11px!important;}