.radius1{
    border-radius: 10px!important;
}
.radius2{
    border-radius: 20px!important;
}
.radius3{
    border-radius: 30px!important;
}
.radius4{
    border-radius: 40px!important;
}
.radius5{
    border-radius: 50px!important;
}
.radius6{
    border-radius: 60px!important;
}
.radius7{
    border-radius: 70px!important;
}
.radius8{
    border-radius: 80px!important;
}