.w_10{
    width: 9%!important;
}
.w_20{
    width: 19%!important;
}
.w_25{
    width: 24%!important;
}
.w_30{
    width: 29%!important;
}
.w_35{
    width: 34%!important;
}
.w_40{
    width: 39%!important;
}
.w_50{
    width: 49%!important;
}
.w_60{
    width: 59%!important;
}
.w_70{
    width: 69%!important;
}
.w_80{
    width: 79%!important;
}
.w_90{
    width: 89%!important;
}
.w_100{
    width: 99%!important;
}

.w_120{
    width: 120%!important;
}

.w_37{
    width: 36%!important;
}
.w_33{
    width: 32%!important;

}

